#
# Capebus core support
#

menu "CAPEBUS support"

config CAPEBUS_CORE
	bool "Capebus support"
	default n
	help
	  Enable to support capebus devices.

source "drivers/capebus/boards/Kconfig"

source "drivers/capebus/capes/Kconfig"

endmenu
